{% extends 'mainapp/base.html' %}
{% block content %}
    <h3 class="display-6">Создание диалога</h3>
    {% for message in messages %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endfor %}


    <div class="card">
        <div class="card-body">
            {% for item in new_interlocutors %}
                <a href="{% url 'main:user_dialog_create' item.pk %}">{{ item.username }}</a>
            {% endfor %}

        </div>
    </div>
{% endblock %}


