{% extends 'mainapp/base.html' %}
{% block content %}
    <h3 class="display-6">Диалог: {{ dialog }}</h3>

    <div class="row">
        <div class="col">
            <ul class="list-group mb-3">
                {% for item in dialog_members %}
                    <li class="list-group-item p-3"><a href="#">{{ item.member.username }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <a href="{% url 'main:create_message' %}" class="btn btn-success">Отправить сообщение</a>
            <a href="{% url 'main:delete_dialog' dialog.id %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>

    {% for item in dialog_messages %}
        <div class="card mt-3">
            <div class="card-header">
                {{ item.sender_member.username }} {{ item.created|date:"Y.m.d H:i" }}
            </div>
            <div class="card-body">
                <p>{{ item.text }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}


