{% extends 'mainapp/base.html' %}
{% block content %}
    <h3 class="display-6">Диалог: {{ dialog }}</h3>

    <div class="row">
        <div class="col">
            <ul class="list-group mb-3">
            </ul>
        </div>
        <div class="col">
            <a href="{% url 'mainapp:dialog_message_create' sender.id %}" class="btn btn-success">Отправить
                сообщение</a>
{#            <button class="btn btn-primary" type="button">Обновить</button>#}
{#            <a href="{% url 'main:dialog_show_update' dialog.id %}" class="btn btn-primary">Обновить</a>#}
            <a href="{% url 'main:delete_dialog' dialog.id %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>

    {% for item in dialog.get_messages_all %}
        <div class="card mt-3" id="demo">
            <div class="card-header">
                {{ item.sender.member.username }} {{ item.created }}
            </div>
            <div class="card-body">
                <p>{{ item.text|linebreaksbr }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{#<script>#}
{#    $('.btn-primary').on('click', function (e) {#}
{#        e.preventDefault();#}
{#        $.ajax({#}
{#            url: e.target.href,#}
{#            success: function () {#}
{#                $('.card').update();#}
{#            }#}
{#        })#}
{#    })#}
{#</script>#}
